body{
  background-color: rgb(225, 196, 158);
}

h1{
  color: aqua;
  text-align: center; 
  background-color: black;
}

p{
 color: rgb(31, 4, 109);
 background-color: rgb(219, 224, 238);
 margin: 20px 50px;
 border: 5px solid red;
 padding: 20px;
 text-align: justify;
}